<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hs.pickparking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickParking">
        <activity
            android:name=".Activities.ConfirmParkingScreen"
            android:exported="true"
            android:theme="@style/Theme.PickParking.NoActionBar"/>
        <activity
            android:name=".Activities.ParkingInfoScreen"
            android:exported="true"
            android:theme="@style/Theme.PickParking.NoActionBar"/>
        <activity
            android:name=".Activities.DashboardScreen"
            android:exported="true"
            android:theme="@style/Theme.PickParking.NoActionBar" />
        <activity
            android:name=".Activities.SetNewPassScreen"
            android:exported="true"
            android:theme="@style/Theme.PickParking.NoActionBar" />
        <activity
            android:name=".Activities.ForgetPasswordScreen"
            android:exported="true"
            android:theme="@style/Theme.PickParking.NoActionBar" />
        <activity
            android:name=".Activities.OPTCodeScreen"
            android:exported="true"
            android:theme="@style/Theme.PickParking.NoActionBar" />
        <activity
            android:name=".Activities.SignUpScreen"
            android:exported="true"
            android:theme="@style/Theme.PickParking.NoActionBar" />
        <activity
            android:name=".Activities.LoginScreen"
            android:exported="true"
            android:theme="@style/Theme.PickParking.NoActionBar" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.PickParking.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>